-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: puskesmas_makbon
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin` (
  `id_admin` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `nama_admin` varchar(100) NOT NULL,
  PRIMARY KEY (`id_admin`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES (1,'admin','$2y$10$gcYyK6WwL5R/VedkCF4/wuLQ.1/atNeU862NrEqJTZ0UytyYqYFdC','Administrator');
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `antrian_online`
--

DROP TABLE IF EXISTS `antrian_online`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `antrian_online` (
  `id_antrian` int NOT NULL AUTO_INCREMENT,
  `nama_pasien` varchar(100) NOT NULL,
  `no_hp` varchar(20) DEFAULT NULL,
  `alamat` text,
  `id_layanan` int DEFAULT NULL,
  `layanan` varchar(100) DEFAULT NULL,
  `tanggal_antrian` date NOT NULL,
  `nomor_antrian` int NOT NULL,
  `status` enum('Menunggu','Diproses','Selesai','Dibatalkan') NOT NULL DEFAULT 'Menunggu',
  `id_petugas` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_antrian`),
  KEY `id_layanan` (`id_layanan`),
  KEY `id_petugas` (`id_petugas`),
  CONSTRAINT `antrian_online_ibfk_1` FOREIGN KEY (`id_layanan`) REFERENCES `layanan` (`id_layanan`) ON DELETE SET NULL,
  CONSTRAINT `antrian_online_ibfk_2` FOREIGN KEY (`id_petugas`) REFERENCES `petugas` (`id_petugas`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `antrian_online`
--

LOCK TABLES `antrian_online` WRITE;
/*!40000 ALTER TABLE `antrian_online` DISABLE KEYS */;
/*!40000 ALTER TABLE `antrian_online` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jadwal_operasional`
--

DROP TABLE IF EXISTS `jadwal_operasional`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jadwal_operasional` (
  `id_jadwal` int NOT NULL AUTO_INCREMENT,
  `hari` varchar(20) NOT NULL,
  `jam_buka` time NOT NULL,
  `jam_tutup` time NOT NULL,
  `keterangan` varchar(150) DEFAULT NULL,
  `id_petugas` int DEFAULT NULL,
  PRIMARY KEY (`id_jadwal`),
  KEY `id_petugas` (`id_petugas`),
  CONSTRAINT `jadwal_operasional_ibfk_1` FOREIGN KEY (`id_petugas`) REFERENCES `petugas` (`id_petugas`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jadwal_operasional`
--

LOCK TABLES `jadwal_operasional` WRITE;
/*!40000 ALTER TABLE `jadwal_operasional` DISABLE KEYS */;
INSERT INTO `jadwal_operasional` VALUES (1,'Senin - Sabtu','08:00:00','14:00:00','Pelayanan Pemeriksaan & Poli',NULL),(2,'Senin - Sabtu','08:00:00','10:00:00','Pendaftaran & Rekam Medik',NULL),(3,'Setiap Hari','00:00:00','23:59:59','Tindakan Gawat Darurat & Persalinan (24 Jam)',NULL);
/*!40000 ALTER TABLE `jadwal_operasional` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `layanan`
--

DROP TABLE IF EXISTS `layanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `layanan` (
  `id_layanan` int NOT NULL AUTO_INCREMENT,
  `nama_layanan` varchar(100) NOT NULL,
  `jenis` enum('BPJS','Non BPJS') NOT NULL DEFAULT 'Non BPJS',
  `deskripsi` text,
  `jadwal_layanan` varchar(150) DEFAULT NULL,
  `kuota_harian` int NOT NULL DEFAULT '30',
  `status` enum('Aktif','Nonaktif') NOT NULL DEFAULT 'Aktif',
  PRIMARY KEY (`id_layanan`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `layanan`
--

LOCK TABLES `layanan` WRITE;
/*!40000 ALTER TABLE `layanan` DISABLE KEYS */;
/*!40000 ALTER TABLE `layanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `petugas`
--

DROP TABLE IF EXISTS `petugas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `petugas` (
  `id_petugas` int NOT NULL AUTO_INCREMENT,
  `nama_petugas` varchar(100) NOT NULL,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `jabatan` varchar(50) DEFAULT 'Petugas Pelayanan',
  PRIMARY KEY (`id_petugas`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `petugas`
--

LOCK TABLES `petugas` WRITE;
/*!40000 ALTER TABLE `petugas` DISABLE KEYS */;
INSERT INTO `petugas` VALUES (1,'Siti Rahma','petugas1','$2y$10$MrAyX6NWaww4odtxvoHa9.4l2gV2yVutRlDFfYASK2XPbBzyY9Nwi','Petugas Pendaftaran'),(2,'Petra','Petrabram','$2y$10$9kHL0G.8cFP0wq78qZnT5OLb6tpEFS0XamgYyLiBNKRjaCdMzdQua','Perawat');
/*!40000 ALTER TABLE `petugas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profil_puskesmas`
--

DROP TABLE IF EXISTS `profil_puskesmas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profil_puskesmas` (
  `id_profil` int NOT NULL AUTO_INCREMENT,
  `nama_puskesmas` varchar(150) NOT NULL,
  `deskripsi_beranda` text,
  `visi` text,
  `misi` text,
  `sejarah` text,
  `alamat` text,
  `kontak` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `jam_operasional` varchar(150) DEFAULT NULL,
  `qr_bpjs` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_profil`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profil_puskesmas`
--

LOCK TABLES `profil_puskesmas` WRITE;
/*!40000 ALTER TABLE `profil_puskesmas` DISABLE KEYS */;
/*!40000 ALTER TABLE `profil_puskesmas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `saran_masukan`
--

DROP TABLE IF EXISTS `saran_masukan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `saran_masukan` (
  `id_saran` int NOT NULL AUTO_INCREMENT,
  `nama_pengirim` varchar(100) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `pesan` text NOT NULL,
  `balasan` text,
  `status` enum('Baru','Dibalas') NOT NULL DEFAULT 'Baru',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_saran`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `saran_masukan`
--

LOCK TABLES `saran_masukan` WRITE;
/*!40000 ALTER TABLE `saran_masukan` DISABLE KEYS */;
INSERT INTO `saran_masukan` VALUES (1,'Bram','abrahamtitihalawa16@gmail.com','Saya mau ada penngadaan fasilitas nginap untuk pasien',NULL,'Baru','2026-07-10 10:22:46');
/*!40000 ALTER TABLE `saran_masukan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tracking_antrian`
--

DROP TABLE IF EXISTS `tracking_antrian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tracking_antrian` (
  `id_tracking` int NOT NULL AUTO_INCREMENT,
  `id_antrian` int NOT NULL,
  `status` varchar(50) NOT NULL,
  `keterangan` varchar(200) DEFAULT NULL,
  `waktu_update` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_tracking`),
  KEY `id_antrian` (`id_antrian`),
  CONSTRAINT `tracking_antrian_ibfk_1` FOREIGN KEY (`id_antrian`) REFERENCES `antrian_online` (`id_antrian`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tracking_antrian`
--

LOCK TABLES `tracking_antrian` WRITE;
/*!40000 ALTER TABLE `tracking_antrian` DISABLE KEYS */;
/*!40000 ALTER TABLE `tracking_antrian` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-23 21:17:11
